@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-surah-icon: "surah", sans-serif;
  --font-display: "Satoshi", "sans-serif";
  --font-ayat: "ayat", sans-serif;
  --color-bg-primary: #0A1931;
  --color-bg-primary-2: #150E56;
  --color-primary: #1089FF;
  --color-primary-2: #4E9AFF;
  --color-secondarys: #7B1FA2;
  --color-secondarys-2: #9C27B0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* custom surah font for arabic names */
@font-face {
  font-family: 'surah';
  src: url('/surah.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* utility for icons based on class name */
[class*=" icon-"]:before,
[class^="icon-"]:before {
  font-family: 'surah';
  content: attr(data-icon);
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  opacity: 0.8;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

/* custom ayat font for arabic names */
@font-face {
  font-family: 'ayat';
  src: url('/LPMQ IsepMisbah.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@keyframes slide-up {
  from { transform: translate(-50%, 100%); opacity: 0; }
  to { transform: translate(-50%, 0); opacity: 1; }
}

.animate-slide-up {
  animation: slide-up 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Sembunyikan scrollbar tapi tetap bisa scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}